<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts :: head">
</head>

<body>
    <nav th:replace="layouts :: nav"></nav>
    <div class="container">
        <div style="height: 210px; width: 100%; background-image: url(https://source.unsplash.com/xo3fdXgTJP8);background-position: center;
        background-size: cover;display: flex;
        justify-content: center;
        align-items: center;">
            <h1 class="text-white">Create New Member</h1>
        </div>    
        <form action="/project/save" method="POST" style="padding: 2rem;">
            <fieldset class="font-weight-bold" style="font-weight: bold;">

                <!-- <legend>Create New Member</legend> -->

                <div class="form-group mb-3">
                    <label class="mb-3"><i class="fa-solid fa-id-card"></i> Employee ID: </label>
                    <br>
                    <input placeholder="Employee's ID" class="form-control" type="text" th:field="${project.employeeId}"/>
                </div>

                <div class="form-group mb-3">
                    <label class="mb-3"><i class="fa-solid fa-signature"></i> First Name: </label>
                    <br>
                    <input placeholder="Employee's First Name" class="form-control" type="text" th:field="${project.firstName}"/>
                </div>

                <div class="form-group mb-3">
                    <label class="mb-3"><i class="fa-solid fa-signature"></i> Last Name: </label>
                    <br>
                    <input placeholder="Employee's Last Name" class="form-control" type="text" th:field="${project.lastName}"/>
                </div>
                <div class="form-group" style="padding-bottom: 1rem;">
                    <label class="mb-3"><i class="fa-regular fa-envelope"></i> Email: </label>
                    <br>
                    <input class="form-control" placeholder="name@example.com" th:field="${project.email}"/>
                </div>
                <button type="submit" class="btn btn-success mt-3" style="width: 100%;padding: 0.5rem;">Create</button>
            </fieldset>
        </form>
    </div>
    
</body>
</html>